Repository substrate-developer-hub/substrate-developer-hub.github.io, pull requests merged in 2021-03, with the labels that each got.

#901 Remove OCW v1.0
  docs/knowledgebase/learn-substrate/off-chain-features.md
  docs/knowledgebase/runtime/off-chain-workers.md
  docs/tutorials/build-permission-network/add-node-authorization-pallet.md
  website/sidebars.json
Labels: A0-pleasereview

#900 Add knowledgebase document describing why no Hash collections in sp_std
  docs/knowledgebase/advanced/no-hash-collections.md
  website/sidebars.json
Labels: A0-pleasereview

#910 Install guide update with tips and tricks added
  docs/knowledgebase/getting-started/index.md
  docs/knowledgebase/getting-started/windows-users.md
  docs/tutorials/add-a-pallet/index.md
  docs/tutorials/build-a-dapp/front-end.md
  docs/tutorials/build-a-dapp/index.md
  docs/tutorials/build-permission-network/index.md
  docs/tutorials/create-your-first-substrate-chain/index.md
  docs/tutorials/create-your-first-substrate-chain/interact.md
  docs/tutorials/upgrade-a-chain/index.md
Labels: A0-pleasereview

#911 Create your first chain v3
  docs/assets/tutorials/first-chain/accts-prefunded.png
  docs/assets/tutorials/first-chain/apps-transfer.png
  docs/assets/tutorials/first-chain/chain-data.png
  docs/assets/tutorials/first-chain/interactor-events.png
  docs/assets/tutorials/first-chain/metadata.png
  docs/tutorials/create-your-first-substrate-chain/background.md
  docs/tutorials/create-your-first-substrate-chain/index.md
  docs/tutorials/create-your-first-substrate-chain/interact.md
  docs/tutorials/create-your-first-substrate-chain/setup.md
Labels: A0-pleasereview, v3-tutorial-update

#912 update links, bump version numbers to v3 in tuto cards
  docs/tutorials/create-your-first-substrate-chain/background.md
  docs/tutorials/create-your-first-substrate-chain/setup.md
  website/pages/en/tutorials.js
Labels: A0-pleasereview, v3-tutorial-update

#893 update create a pallet to v3
  docs/tutorials/create-a-pallet.md
Labels: A0-pleasereview, T4-Tutorial, v3-tutorial-update

#892 Update Visualization v3.0.0
  docs/tutorials/visualize-node-metrics.md
  website/static/img/tutorials/grafana.png
Labels: A0-pleasereview, T4-Tutorial, v3-tutorial-update

#905 add a pallet v3 updated
  docs/assets/tutorials/add-a-pallet/clear-name-bad-origin.png
  docs/assets/tutorials/add-a-pallet/clear-name-error.png
  docs/assets/tutorials/add-a-pallet/kill-name-bad-origin.png
  docs/assets/tutorials/add-a-pallet/name-of-alice.png
  docs/assets/tutorials/add-a-pallet/name-of-bob.png
  docs/assets/tutorials/add-a-pallet/set-name.png
  docs/tutorials/add-a-pallet/configure-a-pallet.md
  docs/tutorials/add-a-pallet/import-a-pallet.md
  docs/tutorials/add-a-pallet/index.md
  docs/tutorials/add-a-pallet/use-a-pallet.md
Labels: A0-pleasereview, v3-tutorial-update

#898 update priv network v3
  docs/assets/tutorials/private-network/private-network-apps-insert-key-aura.png
  docs/assets/tutorials/private-network/private-network-apps-insert-key-gran.png
  docs/assets/tutorials/private-network/private-network-apps-insert-key.png
  docs/assets/tutorials/private-network/private-network-no-blocks.png
  docs/assets/tutorials/private-network/private-network-select-network.png
  docs/assets/tutorials/private-network/private-network-top-left-network-icon.png
  docs/tutorials/start-a-private-network/alicebob.md
  docs/tutorials/start-a-private-network/customchain.md
  docs/tutorials/start-a-private-network/customspec.md
  docs/tutorials/start-a-private-network/keygen.md
Labels: A0-pleasereview, v3-tutorial-update

#935 Permissioned update
  docs/tutorials/build-permission-network/add-node-authorization-pallet.md
  docs/tutorials/build-permission-network/index.md
  docs/tutorials/build-permission-network/launch-network.md
Labels: A0-pleasereview, v3-tutorial-update
